@import "../../Variable.scss";
.buttonViewMore {
  border: none;
  background-color: $five-color;
  padding: 5px 10px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 100px;
  right: 0;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $second-color;
    padding: 0;
    z-index: -1;
    transition: all 0.15s linear;
  }
  ion-icon {
    font-size: 20px;
  }
  &:hover::before {
    width: 100%;
  }
}

.buttonWatchNow {
  background: linear-gradient(
    130deg,
    rgba(186, 186, 186, 1) 0%,
    rgba(175, 0, 0, 1) 100%
  );
  padding: 20px 40px;
  box-shadow: 0 0 10px 10px rgba($color: #000000, $alpha: 0.8);
  margin-top: 40px;
  border: none;
  font-size: 30px;
  position: relative;
  &::after,
  &::before {
    border: 0 solid transparent;
    transition: all 0.4s linear;
    content: "";
    height: 50%;
    position: absolute;
    width: 20%;
  }
  &::before {
    border-top: 5px solid #af0000;
    border-left: 5px solid #af0000;
    left: -10px;
    top: -10px;
  }
  &::after {
    border-bottom: 5px solid #bababa;
    border-right: 5px solid #bababa;
    right: -10px;
    bottom: -10px;
  }
  &:hover::before,
  &:hover::after {
    width: 105.5%;
    height: 112%;
  }
  &:hover {
    background: linear-gradient(
      130deg,
      rgba(175, 0, 0, 1) 0%,
      rgba(186, 186, 186, 1) 100%
    );
  }
}

.buttonWatch {
  display: block;
  background-color: $second-color;
  border: none;
  padding: 5px 20px;
  border-radius: 3px;
  width: 100%;
}

.buttonFavorite {
  color: #000;
  border: none;
  display: block;
  padding: 5px 20px;
  width: 100%;
  ion-icon {
    color: #000;
  }
}

.buttonPlay {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: $second-color;
  border: none;
  padding: 12px 0px;
  border-radius: 3px;
  width: 100%;
  transition: all 0.2s ease;
  &:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
      -4px -4px 6px 0 rgba(49, 49, 49, 0.5),
      inset -2px -2px 10px 0 rgba(255, 255, 255, 0.1),
      inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
  }
  ion-icon {
    font-size: 30px;
  }
}

.buttonShare {
  background-color: $five-color;
  border-radius: 5px;
  border: none;
  position: relative;
  width: 120px;
  height: 50px;
  span {
    background: rgb(0, 172, 238);
    background: linear-gradient(
      0deg,
      rgba(0, 172, 238, 1) 0%,
      rgba(2, 126, 251, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 120px;
    height: 50px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s linear;
    &:nth-child(1) {
      transform: rotateX(90deg);
      transform-origin: 50% 50% -20px;
      position: absolute;
      width: 100%;
      height: 100%;
      ion-icon {
        font-size: 20px;
      }
    }
    &:nth-child(2) {
      transform: rotateX(0deg);
      transform-origin: 50% 50% -20px;
    }
  }
  &:hover span {
    &:nth-child(1) {
      transform: rotateX(0deg);
    }
    &:nth-child(2) {
      transform: rotateX(-90deg);
    }
  }
}

.buttonPlayList {
  background-color: transparent;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  min-width: 120px;
  height: 50px;
  justify-content: center;
  gap: 8px;
  ion-icon {
    font-size: 35px;
    animation: rotate 1s ease-in-out;
  }
  &:hover ion-icon {
    animation: rerotate 1s ease-in-out;
  }
  @keyframes rerotate {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
}

.buttonSearch {
  background-color: $second-color;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.buttonClearPLaylist {
  background-color: $second-color;
  padding: 5px 10px;
  border: none;
  display: block;
  border-radius: 8px;
  margin-bottom: 20px;
  display: block;
  &:hover {
  }
}

@media screen and(max-width:1024px) {
  .buttonWatchNow {
    font-size: 20px;
    padding: 10px 20px;
  }
}

@media screen and(max-width:767px) {
  .buttonViewMore {
    position: relative;
    top: 30px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
