@import "../Sass/Variable.scss";
.header {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: transparent;
  &-left {
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    a {
      font-size: 20px;
      font-weight: 700;
      display: flex;
      gap: 5px;
      align-items: center;
      &:hover {
        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
          1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        color: $second-color;
      }
      &:hover ion-icon {
        color: $second-color;
      }
    }
    ion-icon[name="menu"] {
      display: none;
      font-size: 40px;
    }
    ul {
      display: flex;
      gap: 20px;
    }
    img {
      width: 100px;
      padding-right: 20px;
      border-right: 1px solid #aaa;
    }
  }

  &-form {
    position: relative;
    &:hover .header-form-dropdown {
      opacity: 1;
      visibility: visible;
    }
    &-drop {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    ion-icon {
      color: $second-color;
      font-size: 20px;
      cursor: pointer;
    }
    &-login {
      padding: 8px 30px;
      border: none;
      box-shadow: 0 0 3px 3px rgba($color: $main-color, $alpha: 0.5);
      border-radius: 3px;
      transition: all 0.2s linear;
      background-color: $second-color;
      &:hover {
        box-shadow: 0 0 8px 5px rgba($color: $main-color, $alpha: 0.5);
      }
    }
    &-dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: $third-color;
      border-top: 3px solid #fff;
      display: flex;
      flex-direction: column;
      opacity: 0;
      visibility: hidden;
      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        top: -6%;
        right: 0;
      }
    }
    &-logout {
      padding: 8px 14px;
      background-color: $second-color;
      border: none;
      border-radius: 3px;
      margin: 10px 10px;
    }
    img {
      width: 45px;
      border-radius: 50%;
      margin-right: 8px;
    }
    h1 {
      font-size: 14px;
      margin-right: 10px;
    }
    h3 {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 10px;
      cursor: pointer;
    }
  }
  &-overlay {
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.9);
    inset: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }
}
.active-overlay {
  opacity: 1;
  visibility: visible;
}
@media screen and(max-width:767px) {
  .header {
    width: 100%;
    padding: 7px 20px;
    &-left {
      ion-icon[name="menu"] {
        display: block;
      }
      ul {
        position: absolute;
        transform: translateX(-150%);
        transition: all 0.2s linear;
        flex-direction: column;
        background-color: transparent;
        top: 100%;
        gap: 50px;
        height: 100vh;
        li {
          width: 100%;
          border-bottom: 1px solid $third-color;
          &:first-child {
            padding-top: 50px;
          }
        }
      }
      .active {
        transform: translateX(0);
      }
    }
  }
}
