.header {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #232323;
  &-left {
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    a {
      &:hover {
        color: red;
      }
    }
  }
  img {
    width: 100px;
    padding-right: 20px;
    border-right: 1px solid #aaa;
  }
  &-form {
    display: flex;
    align-items: center;
    justify-content: center;
    ion-icon {
      background-color: #444444;
      padding: 8px;
      margin-right: 4px;
      color: red;
      font-size: 20px;
      border-radius: 0 3px 3px 0;
    }
    button {
      padding: 8px 14px;
      text-transform: uppercase;
      background-color: #ca2929;
      border: none;
      border-radius: 3px;
    }
  }
}
