@import "../../Variable.scss";
.cast {
  margin-top: 50px;
  &-slider {
    margin: 0 auto;
  }
  &-item {
    cursor: pointer;
    border-radius: 8px;
    &:hover img {
      border: 1px solid orange;
      width: 91%;
    }
  }
  h3 {
    text-align: center;
  }
  img {
    transition: all 0.2s ease-in-out;
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
  }
  span {
    display: block;
    text-align: center;
    font-size: 14px;
    color: $third-color;
  }
}

@media screen and(max-width:1080px) {
  .cast {
    &-item {
      h3 {
        font-size: 14px;
      }
    }
  }
}

@media screen and(max-width:767px) {
  .cast {
    &-item {
      h3 {
        font-size: 10px;
      }
      span {
        font-size: 8px;
      }
    }
  }
}
