@import "../../Variable.scss";
.cast {
  margin-top: 230px;
  padding: 0 50px;
  &-items {
    overflow-y: scroll;
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
  }
  &-item {
    cursor: pointer;
    height: 80%;
    transition: all 0.2s linear;
    &:hover {
      transform: scale(1.07);
    }
    img {
      width: 120px;
    }
  }
  h3 {
    text-align: center;
  }
  span {
    display: block;
    text-align: center;
    font-size: 14px;
    color: $third-color;
  }
  &-movie {
    color: $second-color;
    margin-top: 20px;
    font-size: 25px;
  }
}

.credit {
  text-align: center;
  margin-top: 10px;
  padding: 8px;
  cursor: pointer;
  &-nameMovie {
    color: $second-color;
    font-size: 20px;
    margin-bottom: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  img {
    width: 120px;
  }
  &-overview {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

@media screen and(max-width:1080px) {
  .cast {
    &-item {
      h3 {
        font-size: 14px;
      }
      img {
        width: 100px;
      }
    }
  }
}

@media screen and (max-width: 970px) {
  .cast {
    padding: 0px 30px;
  }
}

@media screen and (max-width: 767px) {
  .search {
    padding: 100px 20px 20px;
  }
}

@media screen and(max-width:767px) {
  .cast {
    padding: 0 20px;
    &-item {
      h3 {
        font-size: 14px;
      }
      span {
        font-size: 12px;
      }
      img {
        width: 80px;
        display: block;
        margin: 0 auto;
      }
    }
  }
  .credit {
    img {
      width: 80px;
    }
    &-nameMovie {
      font-size: 16px;
    }
  }
}
