@import "../../Variable.scss";
.cast {
  margin-top: 230px;
  padding: 0 50px;
  &-items {
    overflow-y: scroll;
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
  }
  &-item {
    cursor: pointer;
    height: 80%;
    border-radius: 8px;
    transition: all 0.2s linear;
    &:hover {
      transform: scale(1.17);
    }
    img {
      width: 150px;
      border-radius: 8px 8px 0 0;
    }
  }
  h3 {
    text-align: center;
  }
  span {
    display: block;
    text-align: center;
    font-size: 14px;
    color: $third-color;
  }
  &-movie {
    color: $second-color;
    margin-top: 20px;
    font-size: 25px;
  }
}

.credit {
  text-align: center;
  box-shadow: 0 0 15px 1px rgba($color: #000000, $alpha: 0.5);
  margin-top: 10px;
  padding: 8px;
  transition: all 0.2s linear;
  cursor: pointer;
  &-nameMovie {
    color: $second-color;
    font-size: 20px;
    margin-bottom: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  img {
    width: 120px;
  }
  &-overview {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  &:hover {
    box-shadow: 0 0 15px 3px rgba($color: #000000, $alpha: 1);
  }
}

@media screen and(max-width:1080px) {
  .cast {
    &-item {
      h3 {
        font-size: 14px;
      }
      img {
        width: 120px;
      }
    }
  }
}

@media screen and(max-width:767px) {
  .cast {
    padding: 0 20px;
    &-item {
      h3 {
        font-size: 10px;
      }
      span {
        font-size: 8px;
      }
      img {
        width: 90px;
      }
    }
  }
  .credit {
    img {
      width: 80px;
    }
    &-nameMovie {
      font-size: 16px;
    }
  }
}
