@import "../../Sass/Variable.scss";
.similar {
  padding: 50px 0;
  &-item {
    text-align: center;
    cursor: pointer;
    background-color: $third-color;
    img {
      width: 100%;
    }
    h2 {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 767px) {
  .similar {
    padding-left: 16px;
    padding-right: 16px;
  }
}
