@import "../../Variable.scss";
.similar {
  margin-top: 50px;
  padding: 0 50px 50px;
  &-item {
    text-align: center;
    // border: 1px solid orange;
    cursor: pointer;
    background-color: $third-color;
    img {
      width: 100%;
    }
    h2 {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 970px) {
  .similar {
    padding: 0 30px 30px;
  }
}

@media screen and (max-width: 767px) {
  .similar {
    padding: 0 20px 20px;
  }
}
