@import "../../Sass/Variable.scss";

.trailer {
  padding-top: 50px;
  &-title {
    font-size: 25px;
    color: $second-color;
    margin-bottom: 15px;
  }
  &-items {
    display: flex;
    overflow-y: auto;
    padding-bottom: 6px;
    gap: 15px;
  }
  span {
    display: block;
  }
  &-item {
    padding: 30px 10px 10px;
    background-color: $third-color;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    text-align: center;
    transition: all 0.1s linear;
    &:hover {
      background-color: #404040;
    }
  }
  &-name {
    width: 250px;
    color: $second-color;
    font-weight: 700;
  }
  &-type {
    font-size: 14px;
  }

  &-official {
    background-color: yellow;
    width: 100px;
    color: #000;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 8px 0 0;
  }
  &-iframe {
    width: 100%;
    height: 515px;
  }
  .slick-dots {
    bottom: -20px;
    li button:before,
    li.slick-active button:before {
      color: transparent;
      opacity: 1;
    }
    li button:before {
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 50%;
      display: inline-block;
      height: 8px;
      width: 8px;
    }
    li.slick-active button:before {
      background-color: #fff;
    }
  }
}
// .slick-prev {
//   left: -10% !important;
//   z-index: 1;
// }
// .slick-next {
//   right: -10% !important;
//   z-index: 1;
// }

@media screen and(max-width:767px) {
  .trailer {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 30px;
    &-iframe {
      height: 315px;
    }
    &-name {
      font-size: 14px;
    }
    &-type {
      opacity: 0;
      visibility: hidden;
    }
    &-official {
      width: 90px;
      font-size: 12px;
    }
    &-name {
      width: 200px;
    }
  }
}
