@import "../../Sass/Variable.scss";
.viewMore {
  padding-top: 100px;
  input {
    background-color: $main-color;
    padding: 8px 14px;
    border: 2px solid $third-color;
    border-radius: 8px;
    margin-right: 8px;
    cursor: pointer;
    &:hover {
      color: gold;
    }
  }
  &-pagination {
    margin-top: 40px;
  }
  &-title {
    font-size: 30px;
    background-color: $second-color;
    padding: 0 8px;
    margin-bottom: 25px;
  }
}

@media screen and(max-width:767px) {
  .viewMore {
    padding-left: 16px;
    padding-right: 16px;
    &-first,
    &-last {
      display: block;
      background-color: red;
      margin: 10px 0;
    }
    &-title {
      font-size: 20px;
      text-align: center;
    }
  }
}
