@import "../../Sass/Variable.scss";
.playlist {
  padding-top: 100px;
  margin: 0 50px;
  min-height: 80vh;
  &-item {
    display: flex;
    align-items: center;
    width: 60%;
    margin-bottom: 30px;
    gap: 20px;
    margin: 0 auto;
    cursor: pointer;
    padding: 10px 30px;
    border-bottom: 2px solid $third-color;
    // &:hover {
    //   background-color: $third-color;
    // }
    img {
      width: 60px;
    }
  }
  ion-icon {
    font-size: 35px;
  }
  ion-icon[name="close"] {
    &:hover {
      color: $second-color;
    }
  }
  ion-icon[name="play"] {
    &:hover {
      color: $five-color;
    }
  }
  &-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
  }

  &-empty {
    font-size: 50px;
  }
}

@media screen and(max-width:970px) {
  .playlist {
    margin: 0 30px;
    &-item {
      width: 100%;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 540px) {
  .playlist {
    margin: 0 20px;
    &-item {
      width: 100%;
      gap: 15px;
      padding: 10px 0;
    }
    ion-icon {
      font-size: 25px;
    }
    &-name {
      ion-icon {
        display: none;
      }
    }
    &-empty {
      font-size: 35px;
    }
  }
}
