@import "../../Sass/Variable.scss";
.search {
  padding-top: 100px;
  padding-bottom: 50px;
  &-form {
    display: block;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    gap: 8px;
    input {
      color: #000;
      outline: none;
      padding: 8px 14px;
      border-radius: 5px;
      border: 1px solid $second-color;
      width: 30%;
    }
  }
}

@media screen and (max-width: 970px) {
  .search {
    input {
      width: 50%;
    }
  }
}

@media screen and (max-width: 767px) {
  .search {
    input {
      width: 70%;
    }
    &-form {
      justify-content: center;
    }
  }
}
