@import "../../Sass/Variable.scss";
.single {
  padding-top: 70px;
  &-title {
    margin: 30px 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 30px;
      color: $second-color;
    }
  }
  &-button {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  input {
    background-color: $third-color;
    border-radius: 5px;
  }
  &-season {
    margin: 30px 50px;
    display: flex;
    overflow-y: scroll;
    padding-bottom: 10px;
    gap: 5px;
  }
  &-episode {
    margin: 0 50px 50px;
    display: flex;
    overflow-y: scroll;
    padding-bottom: 10px;
    gap: 8px;
  }
  input {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border: none;
  }
}

@media screen and(max-width: 767px) {
  .single {
    iframe {
      height: 300px;
    }
    &-title {
      display: block;
      padding-left: 16px;
      padding-right: 16px;
    }
    &-button {
      margin-top: 20px;
    }
    &-season {
      margin: 30px 20px;
    }
    &-episode {
      margin: 0 20px 50px;
    }
  }
}
