@import "../Variable.scss";
.footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $header-color;
  padding: 50px;
  &-left {
    width: 50%;
  }
  &-title {
    font-size: 25px;
    color: $second-color;
    margin-bottom: 20px;
  }
  &-items {
    li {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
    }
    ion-icon {
      font-size: 30px;
    }
  }
  &-center {
    div {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    ion-icon {
      font-size: 100px;
      color: #000;
    }
    h2 {
      font-size: 40px;
      font-family: "Oooh Baby", cursive;
      color: #55a8f1;
    }
    span {
      color: #ccc;
    }
  }
  &-right {
    ion-icon {
      font-size: 35px;
      margin-left: 20px;
      cursor: pointer;
      &:hover {
        color: $second-color;
      }
    }
  }
}

@media screen and(max-width:1080px) {
  .footer {
    display: block;
    text-align: center;
    margin-top: 0;
    &-left {
      width: 100%;
    }
  }
}
